/* MAIN PAGE STYLING */
/* on hover add shadow and caption overlay to cards */
.container-header{
    background-image:url(/Assets/805-8051578_blue-green-wave-graphic-design.png);opacity:100;
    background-repeat: no-repeat;
    background-position: center;
    height:400px;
    width:100%;
    display: flex;
    flex-direction: row-reverse;

}

#title {
    font-size: 45pt;
    font-family: 'Shrikhand', cursive;  
    color: teal;
    margin-inline-end: 2em;
    margin-top: 1.5em;
}

.card{
max-width: 20rem;
margin:10px;

}

div ul li{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 15px;
  display:inline-block;
}

.filter-container{
  display:flex;
  justify-content: center;
}
span{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 15pt;
    text-align: center;
    display:block;
}

.topnav {
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: darkslategray ;
  text-align: center;
  padding: 5px 16px;
  text-decoration: none;
  font-size: 17px;
  /* font-family: 'Playfair Display', serif; */
}

/* Change the color of links on hover */
.topnav a:hover {
  text-decoration: underline;
  color: teal;
}

/* Add a color to the active/current link */
.topnav a.active {
  text-decoration: underline;
}


@keyframes fadeIn {
  0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);

    }
}

.animate-me{
 animation: fadeIn 2s;
 width: 30px;
 height: 30px
}


/* ABOUT PAGE STYLING */
.paragraph{
    margin:50px;
    font-size: 12pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.container-about{
   display:flex;
}

#about-me-header{
  display:flex;
  align-items: center;
  justify-content: center;

}

#mypic{
  height:200px;
  border: 3px solid black;
  margin-left: 200px;
}

.banner-section h1{
  background-color:teal;
  color: white;
  height:auto;
  display:flex;
  justify-content:center;
  align-items: top;
  font-family: 'Shrikhand', cursive;
  font-size: 50pt;

}
.card-title{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align:center;
  font-size: 10pt;
  color:teal;

}
.main-container{
  margin-bottom: 50px;
}

.form{
  max-width: 500px;
  padding: 20px;
  border: 1px solid gray;

}

.form-div{
  display:flex;
  justify-content: center;
}

/* MEDIA QUERIES */
/* 
@media only screen and (max-width: 767px) {
  {
    background: url('/Assets/Asset\ 1.svg')
  }
} */